.topic-list {
    .topic-list-data {
        max-width: 100%;
        display: flex;
    }
    .right {
        margin-left: 0;
        display: inline-block;
        width: calc(100% - 60px);
    }
    .main-link {
        width:100%;
        a.title {
            padding: .5em 0 .5em 0;
        }
	label {
	    display: unset;
	}
    }
	.badge-notification {
        font-size: var(--font-down-2);
    }
    .topic-item-stats {
		pointer-events: auto !important;
		.topic-creator {
			display: inline-block;
			font-size: 0.85em;
			margin-right: 5px;
		}
        .comments {
            display: inline-block;
            font-size: .8706em;
            margin-left: 3px;
        }
        .discourse-tags::before {
            content: "🔖";
            margin-left: 5px;
            margin-right: 2px;
        }
    }
	.topic-excerpt {
		width: 100%;
	}
    .pull-right {
        width: 55px;
        margin: auto 0;
        .last-post-avatar {
            display: block;
            text-align: center;
            margin-bottom: 2px;
        }
        .relative-date {
            font-size: 0.90em;
        }
    }
}


// FIX topic-list-item-separator

tr.topic-list-item-separator {
    .topic-list-data {
        display: block;
    }
}
